absl-py==0.7.0
alabaster==0.7.12
anaconda-client==1.7.1
anaconda-navigator==1.8.4
anaconda-project==0.8.2
apptools==4.4.0
asn1crypto==0.24.0
astor==0.7.1
astroid==2.1.0
astropy==3.1.1
atomicwrites==1.3.0
attrs==18.2.0
autobahn==19.1.1
Babel==2.6.0
backcall==0.1.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.7.1
biopython==1.73
bitarray==0.8.3
bkcharts==0.2
blaze==0.11.3
bleach==3.1.0
blinker==1.4
bokeh==1.0.4
boto==2.49.0
boto3==1.9.86
botocore==1.12.86
bottle==0.12.16
Bottleneck==1.2.1
bs4==0.0.1
bz2file==0.98
cachetools==3.1.0
Cartopy==0.17.0
cclib==1.6.1
certifi==2019.3.9
cffi==1.11.5
cftime==1.0.3.4
chardet==3.0.4
ChemSpiPy==2.0.0
click==6.7
click-plugins==1.0.4
cligj==0.5.0
cloudpickle==0.7.0
clyent==1.2.2
coala-utils==0.5.1
colorama==0.4.1
conan==1.12.0
conda==4.6.13
conda-build==3.17.8
conda-verify==3.1.1
configobj==5.0.6
contextlib2==0.5.5
coverage==4.5.2
cpplint==1.3.0
cryptography==2.5
cycler==0.10.0
cymem==2.0.2
Cython==0.29.4
cytoolz==0.9.0.1
dask==1.1.1
dataclasses==0.6
datashape==0.5.4
de-core-news-sm==2.0.0
decorator==4.3.2
deepdiff==3.3.0
defusedxml==0.5.0
deprecation==2.0.6
descartes==1.1.0
dill==0.2.9
distributed==1.25.3
distro==1.1.0
Django==2.1.5
docopt==0.6.2
docutils==0.14
edn-format==0.6.3
elpy==1.28.0
en-core-web-md==2.0.0
en-core-web-sm==2.0.0
entrypoints==0.3
envisage==4.7.1
es-core-news-sm==2.0.0
et-xmlfile==1.0.1
fastavro==0.21.20
fastcache==1.0.2
fasteners==0.14.1
fastprogress==0.1.18
filelock==3.0.10
Fiona==1.7.13
flake8==3.7.4
Flask==1.0.2
Flask-Cors==3.0.7
fr-core-news-sm==2.0.0
future==0.16.0
gast==0.2.1.post0
GDAL==2.2.4
gensim==3.5.0
geographiclib==1.49
geonamescache==1.0.1
geopandas==0.4.0
geoplot==0.2.3
geopy==1.18.1
gevent==1.3.7
glmnet==2.1.1
glob2==0.6
gmpy2==2.0.8
google-api-core==1.8.0
google-auth==1.6.3
google-cloud-core==0.29.1
google-cloud-storage==1.14.0
google-resumable-media==0.3.2
googleapis-common-protos==1.5.8
greenlet==0.4.13
GridDataFormats==0.4.0
grpcio==1.16.0
gsd==1.6.0
h11==0.8.1
h5py==2.8.0
hdfs==2.3.1
heapdict==1.0.0
html5lib==1.0.1
icloudpd==1.4.3
idna==2.8
imageio==2.4.1
imagesize==1.1.0
importlib-metadata==0.6
ipykernel==4.10.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.4
it-core-news-sm==2.0.0
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.2
jeepney==0.4
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.1
jsonpickle==1.1
jsonschema==3.0.0a3
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
jupyterlab==0.35.4
jupyterlab-server==0.2.0
Keras==2.2.2
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2
keyring==8.7
keyrings.alt==1.3
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
libarchive-c==2.8
lief==0.9.0
llvmlite==0.26.0
locket==0.2.0
lxml==4.3.0
lz4==2.1.6
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.1.0
matplotlib==2.0.0
mayavi==4.6.2
mccabe==0.6.1
MDAnalysis==0.19.2
mdtraj==1.9.2
mingus==0.5.1
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
MMPBSA.py==16.0
mmpdb==2.2
mmtf-python==1.1.2
mol2vec==0.1
monotonic==1.5
more-itertools==4.3.0
mpi4py==2.0.0
mpmath==1.1.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
multipledispatch==0.6.0
munch==2.3.2
murmurhash==1.0.2
mypy==0.710+dev.970a1b69e00b881bfebb33d2ebd5c4c222400c12
mypy-extensions==0.4.1
navigator-updater==0.2.0
nbconvert==5.3.1
nbformat==4.4.0
netCDF4==1.4.1
networkx==2.2
nl-core-news-sm==2.0.0
nltk==3.2.5
node-semver==0.6.1
nose==1.3.7
notebook==5.7.4
numba==0.41.0
numexpr==2.6.9
numpy==1.15.4
numpydoc==0.8.0
nvidia-ml-py3==7.352.0
oauthlib==2.1.0
odo==0.5.1
olefile==0.46
OpenEye-toolkits==2018.10.1
OpenEye-toolkits-python3-linux-x64==2018.10.1
openforcefield==0.0.4
OpenMM==7.3.1
openmmtools==0.17.0
openmoltools==0.8.3
openpyxl==2.5.14
OWSLib==0.17.1
packaging==19.0
packmol-memgen==0.9.9a0
palettable==3.1.1
pandas==0.24.0
pandocfilters==1.4.2
ParmEd==3.1.0
parso==0.3.2
partd==0.3.9
patch==1.16
path.py==11.5.0
pathlib2==2.3.3
patsy==0.5.1
pdb4amber==1.6.dev0
pdbfixer==1.5
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
piexif==1.1.2
Pillow==5.4.1
Pint==0.9
pkginfo==1.5.0.1
plac==0.9.6
pluggy==0.8.1
pluginbase==0.7
ply==3.11
pprintpp==0.4.0
preshed==2.0.1
prometheus-client==0.5.0
prompt-toolkit==2.0.8
protobuf==3.6.1
psutil==5.4.8
psycopg2==2.7.7
pt-core-news-sm==2.0.0
ptyprocess==0.6.0
PubChemPy==1.0.4
py==1.7.0
py4j==0.10.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
pybind11==2.2.4
pycairo==1.18.0
pycodestyle==2.5.0
pycosat==0.6.3
pycountry==18.12.8
pycountry-convert==0.7.2
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.2
pydantic==0.23
pyepsg==0.4.0
pyface==6.0.0
pyfancy==2.4.5
pyflakes==2.1.0
Pygments==2.3.1
pygpu==0.7.6
pyicloud-ipd==0.9.9
PyJWT==1.7.1
pykdtree==1.3.1
pykerberos==1.1.14
pylint==2.2.2
pymol==2.4.0a0
pyMSMT==18.0
pyodbc==4.0.24
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyproj==1.9.5.1
PyQt5==5.9.2
pyRFC3339==1.1
pyrsistent==0.14.9
pysal==2.0.0
PyScaffold==3.1
pyshp==2.1.0
PySnooper==0.0.22
PySocks==1.6.8
pyspark==2.4.1
pytest==4.2.0
pytest-arraydiff==0.3
pytest-astropy==0.4.0
pytest-cov==2.6.1
pytest-doctestplus==0.1.3
pytest-mock==1.10.1
pytest-openfiles==0.3.1
pytest-remotedata==0.3.1
python-crfsuite==0.9.6
python-dateutil==2.6.1
pytraj==2.0.3
pytz==2018.9
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
qcelemental==0.3.3
QtAwesome==0.5.6
qtconsole==4.4.3
QtPy==1.6.0
quantecon==0.4.3
regex==2018.1.10
repoze.lru==0.7
requests==2.21.0
requests-kerberos==0.12.0
requests-oauthlib==1.0.0
requests3==0.0.0
rope==0.10.7
rsa==4.0
Rtree==0.8.3
ruamel-yaml==0.15.71
s3transfer==0.1.13
sage-bootstrap==1.0
sander==16.0
schema==0.6.6
scikit-image==0.14.2
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
SecretStorage==3.1.1
selenium==3.141.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
sheetmusic==0.0.4
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.8
six==1.12.0
sklearn==0.0
smart-open==1.8.0
snowballstemmer==1.2.1
sortedcollections==1.1.1
sortedcontainers==2.1.0
soupsieve==1.7.3
spacy==2.0.18
Sphinx==1.8.3
sphinxcontrib-websupport==1.1.0
spyder==3.3.0
spyder-kernels==0.3.0
SQLAlchemy==1.2.17
statsmodels==0.9.0
sympy==1.3
tables==3.4.4
tasks==0.1.0
tblib==1.3.2
tensorboard==1.10.0
tensorflow==1.10.0
tensorflow-hub==0.4.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
Theano==1.0.4
thinc==6.12.1
tinydb==3.13.0
toolz==0.9.0
torch==1.0.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.14.0
traitlets==4.3.2
traits==4.6.0
traitsui==6.0.0
twitterscraper==0.9.3
twython==3.7.0
txaio==18.8.1
typed-ast==1.3.4
typing==3.6.6
tzlocal==1.5.1
ujson==1.35
unicodecsv==0.14.1
urllib3==1.24.1
virtualenv==16.0.0
vpnotebook==0.1.3
vpython==7.4.7
vtk==8.1.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.15.3
widgetsnbextension==3.4.2
wrapt==1.10.11
wurlitzer==1.0.2
xlrd==1.2.0
XlsxWriter==1.1.2
xlwt==1.3.0
xmltodict==0.12.0
xx-ent-wiki-sm==2.0.0
youtube-dl==2019.1.30.1
zict==0.1.3
